{% extends 'aibased/base.html' %}
{% load staticfiles %}
{% block monitor %}class="active"{% endblock %}

{% block body %}
    <div class="container">
        <h3 style="color: whitesmoke; text-align: center">Monitoring system</h3>

        {#        A - G Fault location 1 #}
        <img id="a1_ag" style="position:absolute; top:45%; left:35%; width:10%; height:20%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">
        {#         A - G Fault location 2 #}
        <img id="a2_ag" style="position:absolute; top:45%; left:52%; width:10%; height:20%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">

        {#         B - G Fault location 1 #}
        <img id="a1_bg" style="position:absolute; top:38%; left:35%; width:10%; height:20%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">
        {#          B - G fault location 2#}
        <img id="a2_bg" style="position:absolute; top:38%; left:52%; width:10%; height:20%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">

        {#          A - B - G Fault location 1 #}
        <img id="a1_ab" style="position:absolute; top:38%; left:35%; width:10%; height:8%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">
        {#          A - B - G fault location 2#}
        <img id="a2_ab" style="position:absolute; top:38%; left:52%; width:10%; height:8%; visibility: hidden"
             src="{% static 'img/lightning.svg' %}">

        <div style="background-color: #888888; opacity: 1; text-align: center;">
            <img class="img img-responsive center-block" src="{% static 'img/towers1.png' %}">
        </div>
        <div>
        </div>


        <div class="col-sm-4">
            <section>
                <button class="room-link btn btn-link" data-room-id="{{ room.id }}">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Get Alerts
                </button>
            </section>
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Previous Faults
        </button>

        <!-- Modal for Previous Data-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Power Faults</h4>
                    </div>
                    <div class="modal-body">
                        {#                        <div class="col-sm-offset-2 col-sm-8">#}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="row">
                                <th class="text-danger">date</th>
                                <th class="text-danger">location</th>
                                <th class="text-danger">fault</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fault in faults %}
                                <tr class="row">
                                    <td class="text-danger">{{ fault.date }}</td>
                                    <td class="text-danger">{{ fault.location }}</td>
                                    <td class="text-danger">{{ fault.fault }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#                        </div>#}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Faults-->
    <div class="modal fade" id="myModalFaults" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Power Faults</h4>
                </div>
                <div class="modal-body" id="chatParent">
                    <div class="whiteSmoak" id="chats">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="removeElement('faultParent', 'faultMessage')">Record Fault
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>



    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/chat/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);

            // Handle incoming messages
            webSocketBridge.listen(function (data) {
                // Decode the JSON
                console.log("Got websocket message", data);

                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(
                        "<div class='room' id='room-" + data.join + "'>" +
                        "<div class='messages'></div>" +
                        "</div>"
                    );
                    $("#chats").append(roomdiv);
                }   // Handle getting a message

                else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";
                    var fault_id = "";
                    var fault_idx = "";
                    var fault_id1 = "";
                    var fault_id2 = "";
                    console.log(data.message);
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    if (data.msg_type == 0) {
                        // Message
                        ok_msg = "<div class='message' style='color:red'>" +
                            {#                                "<span class='username' id='faultParent'>" + data.username + "</span>" +#}
                            "<span class='body' id='faultMessage'>" + data.message.message + "</span>" +
                            "</div>";
                        if (data.message.position == "area1") {
                            fault_id1 = "a1_";
                        }
                        else if (data.message.position == "area2") {
                            fault_id1 = "a2_";
                        }
                        switch (data.message.fault) {
                            case "A to B to Grd":
                                fault_id2 = "ab";
                                fault_idx = "ag";
                                break;
                            case "A to B":
                                fault_id2 = "ab";
                                break;
                            case "C to A":
                                fault_id2 = "ca";
                                break;
                            case "A to Grd":
                                fault_id2 = "ag";
                                break;
                            case "B to C to Grd":
                                fault_id2 = "bc";
                                fault_idx = "bg";
                                break;
                            case "B to C":
                                fault_id2 = "bc";
                                break;
                            case "B to Grd":
                                fault_id2 = "bg";
                                break;
                            case "C to Grd":
                                fault_id2 = "cg";
                                break;
                            case "A to C to Grd":
                                fault_id2 = "ac";
                                fault_idx = "ag";
                                break;
                            default:
                                return;
                        }
                        fault_id = fault_id1 + fault_id2; // Concat string to create complete id ex: a1_ag
                        var img = document.getElementById(fault_id);
                        img.style.visibility = 'visible';
                        if (fault_idx != "") {
                            fault_idx = fault_id1 + fault_idx;
                            var img1 = document.getElementById(fault_idx);
                            img1.style.visibility = 'visible';
                        }
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }

                $('#myModalFaults').modal('show');
            });

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };

            // Room join/leave
            $("button.room-link").click(function () {
                roomId = $(this).attr("data-room-id");


                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    webSocketBridge.send({
                        "command": "leave",
                        "room": roomId
                    });
                } else {
                    // Join room
                    $(this).addClass("joined");
                    webSocketBridge.send({
                        "command": "join",
                        "room": roomId
                    });
                }
            });

            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });

        function removeElement(parentDiv, childDiv) {
            if (childDiv == parentDiv) {
                alert("The parent div cannot be removed.");
            }
            else if (document.getElementById(childDiv)) {
                var child = document.getElementById(childDiv);
                var parent = document.getElementById(parentDiv);
                parent.removeChild(child);
            } else {
                alert("Child div has already been removed or does not exist.");
                return false;
            }
        }
    </script>

{% endblock %}