{% extends 'aibased/base.html' %}
{% block monitor %}class="active"{% endblock %}

{% block body %}
    <div class="container">
        <h3 style="color: whitesmoke">Monitoring system</h3>
        <svg style="background-color: whitesmoke" width=100% height="500px">
            {#            horizontal, vertical #}

            {#            <path d="M 100 350 q 150 -300 300 0" stroke="blue" stroke-width="5" fill="none"></path>#}

            <polygon points="20 450,70 100,120 450" style="fill: none ;stroke:black; stroke-width: 2"></polygon>
            <line x1="105" y1="65" x2="30" y2="140" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            <path d="M 105 65 q 100 50 230 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 30 140 q 100 50 230 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 70 100 q 100 50 230 0" stroke="blue" stroke-width="1" fill="none"></path>

            <polygon points="250 450,300 100,350 450" style="fill: none ;stroke:black; stroke-width: 2"></polygon>
            <line x1="335" y1="65" x2="260" y2="140" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            <path d="M 335 65 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 300 100 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 260 140 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>

            <polygon points="500 450,550 100,600 450" style="fill: none ;stroke:black; stroke-width: 2"></polygon>
            <line x1="585" y1="65" x2="510" y2="140" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            <path d="M 585 65 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 550 100 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 510 140 q 100 50 250 0" stroke="blue" stroke-width="1" fill="none"></path>

            <polygon points="750 450,800 100,850 450" style="fill: none ;stroke:black; stroke-width: 2"></polygon>
            <line x1="835" y1="65" x2="760" y2="140" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            <path d="M 835 65 q 100 50 270 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 800 100 q 100 50 270 0" stroke="blue" stroke-width="1" fill="none"></path>
            <path d="M 760 140 q 100 50 270 0" stroke="blue" stroke-width="1" fill="none"></path>

            <polygon points="1020 450,1070 100,1120 450" style="fill: none ;stroke:black; stroke-width: 2"></polygon>
            <line x1="1105" y1="65" x2="1030" y2="140" style="stroke:rgb(255,0,0);stroke-width:2"></line>
        </svg>

        <div class="col-sm-offset-2 col-sm-8">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="row">
                    <th class="text-danger">date</th>
                    <th class="text-danger">location</th>
                    <th class="text-danger">fault</th>
                </tr>
                </thead>
                <tbody>
                {% for fault in faults %}
                    <tr class="row">
                        <td class="text-danger">{{ fault.date }}</td>
                        <td class="text-danger">{{ fault.location }}</td>
                        <td class="text-danger">{{ fault.fault }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <section>
            <ul class="rooms">
                {% for room in rooms %}
                    <li class="room-link btn btn-default" data-room-id="{{ room.id }}">Get Alerts</li>
                {% empty %}
                    <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?
                    </p>
                {% endfor %}
            </ul>
            <div class="whiteSmoak" id="chats">
            </div>
        </section>

     <!-- Modal -->
    <div id="popups">
    </div>

    </div>

    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_path = "/chat/stream/";
            console.log("Connecting to " + ws_path);

            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);

            // Handle incoming messages
            webSocketBridge.listen(function (data) {
                // Decode the JSON
                console.log("Got websocket message", data);

                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data.join);
                    var roomdiv = $(
                        "<div class='room' id='room-" + data.join + "'>" +
                        "<h2>" + data.title + "</h2>" +
                        "<div class='messages'></div>" +
                        "</div>"
                    );
                    $("#chats").append(roomdiv);



                }   // Handle getting a message

                else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            // Message
                            ok_msg = "<div class='message'>" +
                                "<span class='username'>" + data.username + "</span>" +
                                "<span class='body'>" + data.message + "</span>" +
                                "</div>";

                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                "</div>";
                            break;
                        case 4:
                            // User joined room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " joined the room!" +
                                "</div>";
                            break;
                        case 5:
                            // User left room
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                " left the room!" +
                                "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            });

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };
            // Room join/leave
            $("li.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    webSocketBridge.send({
                        "command": "leave",
                        "room": roomId
                    });
                } else {
                    // Join room
                    $(this).addClass("joined");
                    webSocketBridge.send({
                        "command": "join",
                        "room": roomId
                    });
                }
            });

            // Helpful debugging
            webSocketBridge.socket.onopen = function () {
                console.log("Connected to chat socket");

{#                 var popupdiv = $(#}
{#                        "<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>"+#}
{#        "<div class='modal-dialog' role='document'>"+#}
{#            "<div class='modal-content'>"+#}
{#             "<div class='modal-header'>"+#}
{#                    "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +#}
{#                    "<span aria-hidden='true'>&times;</span></button>"+#}
{#                    "<h4 class='modal-title' id='myModalLabel'>Modal title</h4>"+#}
{#               "</div>"+#}
{#               "<div class='modal-body'>"+#}
{#                    "..."+#}
{#               "</div>"+#}
{#                "<div class='modal-footer'>"+#}
{#                    "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>"+#}
{#                    "<button type='button' class='btn btn-primary'>Save changes</button>"+#}
{#                "</div>"+#}
{#            "</div>"+#}
{#        "</div>"+#}
{#    "</div>"#}
{#                    );#}
{##}
{#                 $('#myModal').append(popupdiv);#}
{#                 $('#myModal').modal('show')#}

            };
            webSocketBridge.socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>

{% endblock %}